{{#each items}}
<tr>
    <th class="text-center align-middle">{{this.id}}</th>
    <td class="text-center align-middle">{{this.category_name}}</td>
    <td class="text-center align-middle">
        <button type="button" class="btn btn-info" data-id={{this.id}} data-prodname="{{this.category_name}}"
            data-prodcat="{{this.category}}" onclick="">Szerkesztés</button>
        <button type="button" class="btn btn-danger" data-id={{this.id}} data-name="{{this.category_name}}"
            onclick="">Törlés</button>
    </td>
</tr>
{{/each}}