<div class="table-responsive">
    {{#ifeq menu 'products'}} {{> products_filter_form }} {{/ifeq}}
    <table class="table table-bordered table-hover table-sm">
        {{> table_head }}
        <tbody>
            {{#ifeq menu 'products'}} {{> products_table_data}} {{/ifeq}}
            {{#ifeq menu 'products'}} {{> delete_modal }} {{/ifeq}}
            {{#ifeq menu 'stocks'}} {{> stocks_table_data}} {{/ifeq}}

            {{#ifeq menu 'categories'}}{{> delete_categ_modal }}{{/ifeq}}
            {{#ifeq menu 'categories'}}{{> categories_table_data }}{{/ifeq}}

        </tbody>
    </table>

    <div class="container-fluid row d-flex">

        <div class="col-6 container text-right">
            {{#if showPrev}}
            <a href="" class="btn btn-primary btn-sm prev-btn" role="button"
                data-ordering="{{#if orderby}}{{orderby}}{{/if}}" data-order="{{#if ordering}}{{ordering}}{{/if}}"
                data-page="{{prevPage}}" aria-pressed="true">
                &lt; Prev</a>
            {{/if}}

        </div>

        <div class="col-6 container text-left">
            {{#if showNext}}
            <a href="" class="btn btn-primary active btn-sm next-btn" role="button"
                data-ordering="{{#if orderby}}{{orderby}}{{/if}}" data-order="{{#if ordering}}{{ordering}}{{/if}}"
                data-page="{{nextPage}}" aria-pressed="true">
                Next &gt;</a>
            {{/if}}

        </div>

    </div>

</div>

{{#ifeq menu 'products'}} {{> footer }} {{/ifeq}}
{{#ifeq menu 'categories'}} {{> footer }} {{/ifeq}}


{{#ifeq menu 'products'}}
<script>
    const nextBtn = document.querySelector('.next-btn');
    if (nextBtn) {
        nextBtn.addEventListener('click', () => {
            nextBtn.setAttribute('href', `/products?page=${event.target.dataset.page}`);
        }, false)
    }

    const prevBtn = document.querySelector('.prev-btn');
    if (prevBtn) {
        prevBtn.addEventListener('click', () => {
            prevBtn.setAttribute('href', `/products?page=${event.target.dataset.page}`);
        })
    }
</script>
{{/ifeq}}

{{#ifeq menu 'categories'}}
<script>
    const nextBtn = document.querySelector('.next-btn');
    if (nextBtn) {
        nextBtn.addEventListener('click', () => {
            nextBtn.setAttribute('href', `/categories?page=${event.target.dataset.page}`);
        }, false)
    }

    const prevBtn = document.querySelector('.prev-btn');
    if (prevBtn) {
        prevBtn.addEventListener('click', () => {
            prevBtn.setAttribute('href', `/categories?page=${event.target.dataset.page}`);
        })
    }
</script>
{{/ifeq}}

{{#ifeq menu 'stocks'}}
<script>
    const nextBtn = document.querySelector('.next-btn');
    if (nextBtn) {
        nextBtn.addEventListener('click', () => {
            nextBtn.setAttribute('href', `/stocks?page=${event.target.dataset.page}`);
        }, false)
    }

    const prevBtn = document.querySelector('.prev-btn');
    if (prevBtn) {
        prevBtn.addEventListener('click', () => {
            prevBtn.setAttribute('href', `/stock?page=${event.target.dataset.page}`);
        })
    }
</script>
{{/ifeq}}