<div class="table-responsive">
    {{> products_filter_form }}
    <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
            <tr class="nav-pills nav-fill">
                <th class="text-center nav-item"><a
                        href="/products?page={{curentPage}}&order={{order}}&orderby={{orderby}}"
                        class="nav-link id-sort {{#ifeq orderby 'id'}}active{{/ifeq}}" data-orderby="id"
                        data-order="{{order}}" data-curentpage="{{curentPage}}">ID
                        <strong>{{#ifeqand order 'ASC' orderby 'id'}}&#9650;{{/ifeqand}}{{#ifeqand order 'DESC' orderby 'id'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center nav-item"><a href="" class="nav-link {{#ifeq orderby 'name'}}active{{/ifeq}}"
                        onclick="order_by()" data-orderby="name" data-order="{{order}}">Megnevezés
                        <strong>{{#ifeqand order 'ASC' orderby 'name'}}&#9650;{{/ifeqand}}{{#ifeqand order 'DESC' orderby 'name'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center nav-item">
                    <a href="" onclick="ordering_by()" data-orderby="category"
                        class="nav-link {{#ifeq orderby 'category'}}active{{/ifeq}}" data-order="{{order}}">
                        Csoport
                        <strong>{{#ifeqand order 'ASC' orderby 'category'}}&#9650;{{/ifeqand}}{{#ifeqand order 'DESC' orderby 'category'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center align-middle">Műveletek</th>
            </tr>
        </thead>


        <tbody>

            {{#each items}}
            <tr>
                <th class="text-center align-middle">{{this.id}}</th>
                <td class="text-center align-middle">{{this.name}}</td>
                <td class="text-center align-middle">{{this.category}}</td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-info btn-sm" data-id={{this.id}} data-prodname="{{this.name}}"
                        data-prodcat="{{this.category}}" data-proddesc="{{this.description}}"
                        onclick="update_product()">Szerkesztés</button>
                    <button type="button" class="btn btn-danger btn-sm" data-id={{this.id}} data-name="{{this.name}}"
                        onclick="delete_product()">Törlés</button>
                </td>
            </tr>
            {{/each}}
            {{> delete_modal }}

        </tbody>
    </table>

    <div class="container-fluid row d-flex justify-content-center">

        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                {{#if showPrev}}
                <li class="page-item">
                    <a class="page-link prev-btn" href="/products?page={{prevPage}}&order={{order}}&orderby={{orderby}}"
                        aria-label="Previous" data-ordering="{{orderby}}" data-order="{{order}}"
                        data-page="{{prevPage}}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Előző</span>
                    </a>
                </li>
                {{/if}}
                {{#times lastPage}}
                <li class="page-item"><a class="page-link" href="#">{{this}}</a></li>
                {{/times}}
                {{#if showNext}}
                <li class="page-item">
                    <a class="page-link next-btn" href="/products?page={{nextPage}}&order={{order}}&orderby={{orderby}}"
                        aria-label="Next" data-ordering="{{orderby}}" data-order="{{order}}" data-page="{{nextPage}}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Következő</span>
                    </a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>

</div>

{{> footer }}

<script>

    document.querySelector('.id-sort').addEventListener('click', (e) => {
        e.target.setAttribute('data-order', event.target.dataset.order === 'ASC' ? 'DESC' : 'ASC')
        e.target.setAttribute('href', `/products?page=${e.target.dataset.curentpage}&orderby=${e.target.dataset.orderby}&order=${e.target.dataset.order}`);
    })

    function update_product() {
        const updateForm = document.querySelector('.new-products');
        const updateProdId = event.target.dataset.id;
        const updateProdCat = event.target.dataset.prodcat;
        const updateProdName = event.target.dataset.prodname;
        const updateProdDesc = event.target.dataset.proddesc;
        updateForm.action = `/ products / ${updateProdId} `
        $('#new_product').modal();

        document.querySelector('#prodName').value = updateProdName;
        document.querySelector('#prod_description').value = updateProdDesc;
        if (updateProdCat.indexOf(', ') > -1) {
            updateProdCat.split(', ').forEach(prodCat => {
                Array.from(document.querySelectorAll('select[name="product_cat"] option'))
                    .find(element => element.value === prodCat).selected = true;
            })
        } else {
            document.querySelector('#prodCat').value = updateProdCat;
        }

    }

    function delete_product() {
        const prodId = event.target.dataset.id;
        const prodName = event.target.dataset.name;
        const deleteForm = document.querySelector('.delete-prod');
        const prodNameDisplay = document.querySelector('.prod-name');
        prodNameDisplay.textContent = prodName;
        deleteForm.action = `/ products / del / ${prodId}`
        $('#delete_prod').modal();
    }

</script>