{{#each items}}
<tr>
    <th class="text-center align-middle">{{this.id}}</th>
    <td class="text-center align-middle">{{this.name}}</td>
    <td class="text-center align-middle">{{this.category}}</td>
    <td class="text-center align-middle">
        <button type="button" class="btn btn-info btn-sm" data-id={{this.id}} data-prodname="{{this.name}}"
            data-prodcat="{{this.category}}" data-proddesc="{{this.description}}"
            onclick="update_product()">Szerkesztés</button>
        <button type="button" class="btn btn-danger btn-sm" data-id={{this.id}} data-name="{{this.name}}"
            onclick="delete_product()">Törlés</button>
    </td>
</tr>
{{/each}}


<script>
    function update_product() {
        const updateForm = document.querySelector('.new-products');
        const updateProdId = event.target.dataset.id;
        const updateProdCat = event.target.dataset.prodcat;
        const updateProdName = event.target.dataset.prodname;
        const updateProdDesc = event.target.dataset.proddesc;
        updateForm.action = `/products/${updateProdId}`
        $('#new_product').modal();

        document.querySelector('#prodName').value = updateProdName;
        document.querySelector('#prod_description').value = updateProdDesc;
        if (updateProdCat.indexOf(', ') > -1) {
            updateProdCat.split(', ').forEach(prodCat => {
                Array.from(document.querySelectorAll('select[name="product_cat"] option'))
                    .find(element => element.value === prodCat).selected = true;
            })
        } else {
            document.querySelector('#prodCat').value = updateProdCat;
        }



    }

    function delete_product() {
        const prodId = event.target.dataset.id;
        const prodName = event.target.dataset.name;
        const deleteForm = document.querySelector('.delete-prod');
        const prodNameDisplay = document.querySelector('.prod-name');
        prodNameDisplay.textContent = prodName;
        deleteForm.action = `/products/del/${prodId}`
        $('#delete_prod').modal();
    }
</script>