{{#each items}}
<tr>
    <th class="text-center align-middle">{{this.id}}</th>
    <td class="text-center align-middle">{{this.name}}</td>
    <td class="text-center align-middle">{{this.stock}}</td>
    <td class="text-center align-middle">
        <button type="button" class="btn btn-info btn-sm" data-id={{this.id}} data-stock={{this.stock}}
            onclick="showStockModal()">Szerkesztés</button>
    </td>
</tr>
{{/each}}

<script>
    function showStockModal() {
        const stockItemID = event.target.dataset.id;
        const stockCangeForm = document.querySelector('.stock_quantity_change');
        stockCangeForm.action = `/stocks/${stockItemID}`

        $('#stock_modal').modal();
        const stockQuantityInput = document.querySelector('#stock_quantity_input');
        stockQuantityInput.value = event.target.dataset.stock;

    }
</script>