{{#each items}}
<tr>
    <th class="text-center">{{this.id}}</th>
    <td class="text-center">{{this.name}}</td>
    <td class="text-center">{{this.category}}</td>
    <td class="text-center">
        <button type="button" class="btn btn-light" data-id={{this.id}}>Szerkesztés</button>
        <button type="button" class="btn btn-danger" data-id={{this.id}}>Törlés</button>
    </td>
</tr>
{{/each}}