{{#ifeq menu 'products'}}

<thead class="thead-light">
        <tr class="nav-pills nav-fill">
                <th class="text-center nav-item"><a href="" onclick="ordering_by()"
                                class="nav-link {{#ifeq orderby 'id'}}active{{/ifeq}}" data-orderby="id"
                                data-order="{{ordering}}">ID
                                <strong>{{#ifeqand ordering 'ASC' orderby 'id'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'id'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center nav-item"><a href="" class="nav-link {{#ifeq orderby 'name'}}active{{/ifeq}}"
                                onclick="ordering_by()" data-orderby="name" data-order="{{ordering}}">Megnevezés
                                <strong>{{#ifeqand ordering 'ASC' orderby 'name'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'name'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center nav-item">
                        <a href="" onclick="ordering_by()" data-orderby="category"
                                class="nav-link {{#ifeq orderby 'category'}}active{{/ifeq}}" data-order="{{ordering}}">
                                Csoport
                                <strong>{{#ifeqand ordering 'ASC' orderby 'category'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'category'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center align-middle">Műveletek</th>
        </tr>
</thead>

{{/ifeq}}


{{#ifeq menu 'stocks'}}

<thead class="thead-light">
        <tr class="nav-pills nav-fill">
                <th class="text-center nav-item"><a href="" onclick="ordering_by()"
                                class="nav-link {{#ifeq orderby 'id'}}active{{/ifeq}}" data-orderby="id"
                                data-order="{{ordering}}">ID
                                <strong>{{#ifeqand ordering 'ASC' orderby 'id'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'id'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center nav-item"><a href="" class="nav-link {{#ifeq orderby 'name'}}active{{/ifeq}}"
                                onclick="ordering_by()" data-orderby="name" data-order="{{ordering}}">Megnevezés
                                <strong>{{#ifeqand ordering 'ASC' orderby 'name'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'name'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center nav-item"><a href="" onclick="ordering_by()" data-orderby="stock"
                                class="nav-link {{#ifeq orderby 'stock'}}active{{/ifeq}}" data-order="{{ordering}}">
                                Mennyiség
                                <strong>{{#ifeqand ordering 'ASC' orderby 'stock'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'stock'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center align-middle">Műveletek</th>
        </tr>
</thead>

{{/ifeq}}

{{#ifeq menu 'categories'}}

<thead class="thead-light">
        <tr class="nav-pills nav-fill">
                <th class="text-center nav-item"><a href="" onclick="ordering_by()"
                                class="nav-link {{#ifeq orderby 'id'}}active{{/ifeq}}" data-orderby="id"
                                data-order="{{ordering}}">ID
                                <strong>{{#ifeqand ordering 'ASC' orderby 'id'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'id'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center nav-item"><a href=""
                                class="nav-link {{#ifeq orderby 'category_name'}}active{{/ifeq}}"
                                onclick="ordering_by()" data-orderby="category_name" data-order="{{ordering}}">Csoport
                                <strong>{{#ifeqand ordering 'ASC' orderby 'category_name'}}&#9650;{{/ifeqand}}{{#ifeqand ordering 'DESC' orderby 'category_name'}}&#9660;{{/ifeqand}}</strong></a>
                </th>
                <th class="text-center align-middle">Műveletek</th>
        </tr>
</thead>

{{/ifeq}}

{{#ifeq menu 'products'}}
<script>
        function ordering_by() {
                const link = event.target;
                const ordering = link.dataset.order;
                const orderBy = link.dataset.orderby;

                link.setAttribute('href', `/products?orderby=${orderBy}&order=${ordering}`);
        }
</script>
{{/ifeq}}

{{#ifeq menu 'categories'}}
<script>
        function ordering_by() {
                const link = event.target;
                const ordering = link.dataset.order;
                const orderBy = link.dataset.orderby;

                link.setAttribute('href', `/categories?orderby=${orderBy}&order=${ordering}`);
        }
</script>
{{/ifeq}}

{{#ifeq menu 'stocks'}}
<script>
        function ordering_by() {
                const link = event.target;
                const ordering = link.dataset.order;
                const orderBy = link.dataset.orderby;

                link.setAttribute('href', `/stocks?orderby=${orderBy}&order=${ordering}`);
        }
</script>
{{/ifeq}}